.content-container{
    height:auto;
    margin-bottom:10px;
    margin-top:10px;
    padding-left: 0px;
    left:90px;
    border:3px solid #acacac;
}
    .book-container{
        padding:10px;
        float:left;
    }
#book-menu{
    float:left;
    list-style:none;
    width:65%;
    height: 50px;
    margin-top:10px;
    padding-left: 0px;
    }
    #book-menu li{
        float:left;
        border:3px solid #acacac; 
        width:33.33%;
        text-align: center;
    }
        #book-menu li a{
            text-decoration: none;
            color:#acacac;
            width:100%;
            
        }
        #book-menu li:hover, #book-menu li:active, #book-menu li:focus{
            text-decoration: none;
            background-color:#acacac; 
            
        }
        #book-menu li:hover > a, #book-menu li:active > a, #book-menu li:focus > a{ 
            color:white;
        }
        #book-menu li:first-child, #book-menu li:nth-child(2) {
            border-right:0px;
        }
